.banner {
  margin-bottom: 3.75rem;
  .iframe {
    position: relative;
    user-select: none;
    border-radius: 1.875rem;
    overflow: hidden;
    margin: 2.75rem 0;
    aspect-ratio: 16 / 9;
    iframe {
      width: 100%;
      height: 100%;
    }
    @media (min-width: 1126px) {
      &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  .p {
    margin: 1rem 0;
  }
  .h6 {
    margin-top: 3.38rem;
  }
  @media (max-width: 1125px) {
    margin-bottom: 1.94rem;
    .h1 {
      text-align: center;
      margin-bottom: 1rem;
    }
    .iframe {
      margin: 1rem 0;
    }
    .h6 {
      margin: 1.5rem 0;
    }
  }
}
