.benefits {
  .h1 {
    margin-bottom: 2rem;
  }
  &__benefit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.31rem;
    margin-bottom: 3.46rem;
    img{
      max-width: 13.4375rem;
    }
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
    .h4 {
      // max-width: 21.68rem;
    }
    @media (max-width: 1125px) {
      gap: 1.25rem;
      img {
        max-width: 10.1875rem;
      }
    }
  }
}
