.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 2.75rem 0;
  background: linear-gradient(0deg, rgba(255, 131, 116, 0) 0%, #ff8374 29.69%);
  & + .animation_helper {
    padding-top: 13rem;
  }
  .container {
    display: flex;
    align-items: center;
  }
  ul {
    display: flex;
    align-items: center;
    gap: 2.81rem;
    text-transform: uppercase;
    margin-left: 3.2rem;
    li {
      a {
        display: block;
        color: #fff;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        padding-bottom: 1.3125rem;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 0.3125rem;
          border-radius: 1.875rem;
          background: rgba(255, 255, 255, 0.3);
          transition: 0.3s;
        }
        &:hover,
        &:focus,
        &.active {
          &:after {
            background-color: #482b2e;
          }
        }
      }
    }
  }
  &__btn {
    color: #fff;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0.69rem 1.88rem;
    border-radius: 6.25rem;
    border: 1px solid #fff;
    text-transform: uppercase;
    margin-left: 2.81rem;
    &:hover,
    &:focus {
      background-color: #281819;
      border-color: #281819;
      color: #ff8375;
    }
  }
  &__mobile-button {
    display: none;
    flex-shrink: 0;
    padding: 0;
    background: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    width: 2.375rem;
    border: none;
    span {
      width: 100%;
      height: 0.3125rem;
      border-radius: 0.25rem;
      background-color: #fff;
      display: block;
      transition: 0.3s;
    }
    &.active {
      span {
        &:nth-child(2) {
          width: 0;
        }
        &:nth-child(1) {
          transform: translateY(0.6875rem) rotate(-45deg);
        }
        &:nth-child(3) {
          transform: translateY(-0.6875rem) rotate(45deg);
        }
      }
    }
  }
}

@media (max-width: 1125px) {
  .header {
    padding: 1.19rem 0;
    background: #ff8373;
    & + .animation_helper {
      padding-top: 6.5656rem;
    }
    &__mobile-button {
      display: flex;
    }
    &__btn {
      margin: 0;
      padding: 0.69rem 0.625rem;
      width: 100%;
      max-width: 11.56rem;
      white-space: nowrap;
      text-align: center;
    }
    .container {
      gap: 10px;
    }
    &__logo {
      max-width: 5.83rem;
      margin-right: auto;
      img {
        width: 100%;
      }
    }
    ul {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100vw;
      height: calc(100vh - 5.5656rem);
      margin: 0;
      background-color: #ff8373;
      flex-direction: column;
      gap: 1.06rem;
      max-height: 0;
      transition: 0.3s;
      overflow: hidden;
      &.active {
        display: flex;
        padding-top: 2.69rem;
        max-height: 100vh;
      }
    }
  }
}
