.key-ingredients {
  margin-bottom: 4rem;
  .h1 {
    margin-bottom: 2rem;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem 1.25rem;
    margin-bottom: 3rem;
    li{
      flex: 1 1 15.9375rem;
    }
  }
}
