.main {
  .animation-helper {
    contain: paint;
  }
  &__container {
    position: relative;
    display: flex;
    gap: 5.5rem;
    section {
      width: 100%;
    }
    &:not(.active) {
      display: none;
    }
    .content {
      width: 57.9%;
    }
  }
  &__img {
    position: sticky;
    top: 13rem;
    width: 32.5%;
    height: fit-content;
    max-width: 26rem;
    animation: forwards fadeIn 0.5s;
    img {
      width: 100%;
    }
    &__img {
      width: 100%;
    }
    @media (max-width: 1125px) {
      position: static;
      width: 100%;
      max-width: 17rem;
      margin:auto;
    }
  }
  @media (max-width: 1125px) {
    &__container .content {
      width: 100%;
    }
  }
  &__bg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    min-width: 75rem;
    background: var(
      --radialo-novo,
      radial-gradient(
        221.11% 86.4% at 74.11% 52.3%,
        #ffaea3 0%,
        #ffa190 27.06%,
        #fe8272 48.5%
      )
    );
    transition: 0.3s;
    transform: scaleX(1.2) rotate(15deg);
    &.alternate {
      transform: scaleX(1.2) rotate(-15deg);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: none;
    }
    @media (max-width: 1125px) {
      background: radial-gradient(
        176.6% 80.71% at 74.11% 52.3%,
        #ffaea3 0%,
        #ffa190 27.06%,
        #fe8272 48.5%
      );
    }
  }
}

@keyframes fadeIn {
  from {
    transform: translateX(30vw);
    filter: blur(17px);
  }
  to {
    transform: translateX(0);
    filter: blur(0);
  }
}
