.container {
  width: 100%;
  max-width: 70rem;
  margin: auto;
  padding:0 1.25rem;
}

.btn {
  border-radius: 6.25rem;
  border: 1px solid #ffa296;
  background: linear-gradient(
    180deg,
    rgba(241, 124, 109, 0.14) 0%,
    #864840 100%
  );
  color: #fff;
  text-align: center;
  text-shadow: -2px -2px 0px rgba(0, 0, 0, 0.25);
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  padding: 1.88rem 2rem;
  width: 100%;
  display: block;
  transition: 0s;
  &:hover,
  &:focus {
    border: 1px solid #ffa296;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.78) 0%, #0c0100 100%);
    color: #ff8373;
  }
}

.custom-pagination-bullet {
  width: 7rem;
  height: fit-content;
  background: none;
  transition: 0.3s;
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  opacity: 0.4 !important;
}

.swiper-pagination {
  position: static !important;
  margin:0.5rem auto 0 auto !important;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
