body {
  font-family: Poppins;
  background-color: #ffe9dd;
}

.h1 {
  color: #000;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 900;
  line-height: 120%; /* 4.5rem */
  @media (max-width: 1125px) {
    font-size: 1.6875rem;
  }
}

.h4 {
  color: #000;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  @media (max-width: 1125px) {
    font-size: 1.375rem;
  }
}

.h5 {
  color: #000;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.h6 {
  color: #000;
  font-size: 1.1875rem;
  font-style: normal;
  font-weight: 900;
  line-height: 85.2%; /* 1.01175rem */
  @media (max-width: 1125px) {
    font-size: 1rem;
    font-weight: 700;
  }
}

.p {
  color: #000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  &.bold {
    font-weight: 700;
  }
}
